{% extends "blog/base.html" %}
{% load blog_tags %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}

  {% if query %}
    {% for post in results %}

    <a href="{{ post.get_absolute_url }}">
      <div class="post">
        {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="Post image">
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.body|markdown|truncatewords_html:10 }}</p>
      </a>
      </div>
    
    {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}
  {% endif %}

{% endblock %}